h3{
  font-family: "Open Sans", sans-serif;
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:white;
  text-align: center; 
  
}

table{
  font-family: "Open Sans", sans-serif;
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color: rgba(250, 178, 255, 0.577); 
  border : round;
  
}
table.inner{
  border: 0px
}